
block content
  .container
          
    table.table.table-hover
      thead
        tr
          th Name
          th Email
          th Created At
          th
      tbody
        each answer in answers
          tr
            td
              if answer.author
                | 
                | #[a(href=`/users/${answer.author.id}`)= answer.author.name]
            td
              if answer.author
                | 
                | #[a(href=`/users/${answer.author.email}`)= answer.author.email]
            td
              if answer.author
                | 
                | #[a(href=`/users/${answer.author.createdAt}`)= moment(answer.author.createdAt).format('YYYY-MM-DD HH:mm:ss')]